@model RegisterViewModel
@{
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <style>
        .login-container {
            max-width: 400px;
            margin: 190px auto 0 auto; /* Adjust the top margin to 150px */
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .login-container h2 {
                margin-bottom: 20px;
            }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #004085;
            }

        .register-link {
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2 class="text-center">Login</h2>

            <form asp-controller="Account" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <div class="form-group">
                    <label asp-for="username" class="form-label"></label>
                    <input asp-for="username" class="form-control" placeholder="username" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="form-label"></label>
                    <input asp-for="password" class="form-control" type="password" placeholder="password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <br />
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="register-link">
                    <a asp-controller="Account" asp-action="Register">Don't have an account? Register here</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Include jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- If bootstrap.min.js is not working, use the CDN link below -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>
