@model ECOM.Models.AddUserViewModel
<h1>Add Barangay Resident</h1>
<form method="post">
    
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mt-3">
        <label class="form-label">Birthday</label>
        <input type="date" class="form-control" asp-for="Birthday" />
    </div>
    <div class="mt-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address" />
    </div>
    <div class="mt-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" asp-for="Phone" />
    </div>
    <div class="mt-3">
        <label class="form-label">EmergencyContactName</label>
        <input type="text" class="form-control" asp-for="EmergencyContactName" />
    </div>
    <div class="mt-3">
        <label class="form-label">BirtEmergencyContact</label>
        <input type="text" class="form-control" asp-for="EmergencyContact" />
    </div>
    <div class="mt-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Add Resident</button>
    </div>

</form>

        
